@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 17px;
    border-radius: 30px !important;
    color: white !important;
    cursor: pointer;
    outline: none;
    border: none;
    background: linear-gradient(94.37deg, #3387D5 -5.94%, #7A06C9 115.34%),
        linear-gradient(151.31deg, #FFFFFF -57.71%, rgba(255, 255, 255, 0) 82.32%);
    ;
}